<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1468072114808-903e572b8ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80');">
  <div class="banner-content">
    <h1> <%= @cocktail.name %> </h1>
  </div>
</div>
<div class="form-container">
  <div class="form-center">
    <h2> Ingredients </h2>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> <%= dose.ingredient.name %>
      </li>
      <% end %>
    </ul>

    <h2>Add an Ingredient and Dose</h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %> <!-- # simple form ermöglich Zugriff über dose.ingredient -->
    <%= f.submit "Create Dose", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back to index", cocktails_path %>
  </div>
</div>

<%= cl_image_tag("mvomujbluhjwzvw4disc",
      width: 400, height: 300, crop: :fill) %>
