<h2>Create a new Dose:</h2>
<%= @cocktail.name %>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %> <!-- # simple form ermöglich Zugriff über dose.ingredient -->
<%= f.submit "Create Dose", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to index", cocktails_path %>
